<!-- Organizers -->
<section class="bg-light py-5" id="{{ site.data.sitetext.organizers.section | default: 'sponsors' }}">
  <div class="container">
  <h3>{{ site.data.sitetext.organizers.title | default: 'Organizers' }}</h3>  
    <div class='row' {% if site.data.sitetext.organizers.horizontal-scrolling == 'yes' %} id="scrolling-organizers" {% endif %}>
  {% for organizer in site.data.sitetext.organizers.list %}
      <div class="col-md-3 col-sm-6" style="margin-top: 50px;">
        <a href="{{ organizer.url }}">
          <img class="img-fluid d-block mx-auto" src="{{ organizer.logo }}" alt="{{ organizer.title }}" style="max-height: {{ site.data.sitetext.organizer.max-height | default: "100px" }}">
        </a>
      </div>
  {% endfor %}
    </div>
  </div>
</section>

<!-- sponsors -->
<section class="py-5" id="{{ site.data.sitetext.sponsors.section | default: "sponsors" }}">
    <div class="container">
      <h3>{{ site.data.sitetext.sponsors.title | default: 'Sponsors' }}</h3> 
      <div class="row" {% if site.data.sitetext.sponsors.horizontal-scrolling == "yes" %} id="scrolling-sponsors" {% endif %}>
	  {% for sponsor in site.data.sitetext.sponsors.list %}
        <div class="col-md-3 col-sm-6" style="margin-top: 50px;">
          <a href="{{ sponsor.url }}">
            <img class="img-fluid d-block mx-auto" src="{{ sponsor.logo }}" alt="{{ sponsor.title }}" style="max-height: {{ site.data.sitetext.sponsors.max-height | default: "100px" }}">
          </a>
        </div>
	  {% endfor %}
      </div>
    </div>
  </section>