<!-- intro -->
  <section class="page-section" id="{{ site.data.sitetext.intro.section | default: "venue" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.intro.title | default: "Venue" }}</h2>
      
      <p> The SBW 2021 will be a hybrid meeting with a limited number of spots on site. The in person location will be at the E-huset at LTH </p>
      <p><b>Address:</b></p>
      <p> Ole Römers väg 3, 223 63 Lund </p>
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1336.5161040819573!2d13.209350780740401!3d55.71083536063782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465397ca158a6165%3A0x7f9339d3824e88ee!2sOle%20R%C3%B6mers%20v%C3%A4g%203%2C%20223%2063%20Lund!5e0!3m2!1ssv!2sse!4v1631793442223!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
      <p><b>Public Transportation Instructions:</b></p>
      <p>The nearest stop is the <b>Lund LTH</b> which can be reached in 4 minutes from Lund C using the Tram. Other buses that stop at Lund LTH: 103, 170, 171</p>
      <p>You can use <a href="https://www.skanetrafiken.se/om-oss/ladda-ner-appen/">Skånetrafikens app</a> to purchase individual tickets or daily tickets. </p>
      <p>Alternatively you can directly use you Bank Card on bus by touching the machine at the door. </p>
      <img height="400" src="assets\img\skanetrafiken_blippa.jpg"/>

      </div>
      </div>
    </div>
  </section>
<!-- End intro -->