<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Swedish Bioinformatics Workshop (SBW 2021)</h2>
                </div>
            </div>
            <div class="row container">
                <p>
                We are hosting the 2021 Swedish Bioinformatics workshop (SBW), a two-day workshop which will take place in October 2021 in the historic Lund University (LU). The working theme will be bioinformatics in today’s new technologies. This workshop will continue the long tradition of inspiring and bringing together talented students and young researchers in bioinformatics and computational biology across faculties and universities nationally.
                </p>          
                <center><a href="#" class="page-scroll btn btn-xl">Register Now!</a></center>
            </div>
        </div>
    </section>